@keyframes expand {
    from {
        width: 200px;
    }
    to {
        width: 220px;
    }
}

@keyframes likeA {
    from {
        width: 20px;
        border: #1A1726;
        border-width: 3px;
    }
    to {
        width: 40px;
    }
    
}

@keyframes likeB {
    from {
        width: 40px;
        border: #1A1726;
        border-width: 3px;
    }
    to {
        width: 20px;
    }
    
}

.header {
    grid-area: header;
    background-color: #5268CC;
}

.menu {
    grid-area: menu;
    background-color: #1A1726;
    width: 40%;
    min-width: 200px; /* Add this line to set a minimum width */
    min-height: 1800px;
}

.content {
    grid-area: content;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: "header header header"
                         "menu content content"
                         "menu content content";
                         
    gap: 0px;
    padding: 0px;

    height: 100%;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.cocktail-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}

.cocktail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #1A1726;
    border-radius: 10px;
    color: white;
    text-align: left;
    font-size: 15px;
    transition: .5s;
}

.cocktail-item:hover {
    background-color: #5268CC;
    width: 420px;
    height: 500px;
}

.cocktail-item:active {
    transition: .1s;
    width: 420px;
    height: 500px;
}

a:link {
    text-decoration: none;
    color: #5268CC;
  }
  
  /* visited link */
  a:visited {
    
  }
  
  /* mouse over link */
  
  
  /* selected link */
  a:active {
    
  }

.button {
    background-color: #5268CC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.navButton {
    background-color: #5268CC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -10px 2px;
    cursor: pointer;
    border-radius: 5px;
    width:50%;
}

.navButton:hover {
    transition: .05s;
    background-color: #6579d1;
    width: 40%;
    font-size: small;
}

#page{
    color: white;
    font-size: 20px;
}

body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #5F9EE1;
}

